<!DOCTYPE html>
<html>

<style>
   input[type=text], select {
      width: 100%;
      padding: 30px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
   }
   
   input[type=submit] {
      width: 100%;
      background-color: #3898ec;
      color: white;
      padding: 30px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
   }
   
   input[type=submit]:hover {
      background-color: #45a049;
   }
   
   div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
   }
   </style>
   
   <body>
   
      <h3 style="font-size: 55px">TimberCreek Farm Machine Manager</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger" style="font-size: 50px">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "POST">

         <label style="font-size: 50px" for="employee">Employee</label>
         <select style="font-size: 50px" id="employee" name="employee">
            <option value="employee">Select employee id...</option>
            <option value="José Salazar">José Salazar</option>
            <option value="Carlos Trejo">Carlos Trejo</option>
            <option value="Ben Chandler">Ben Chandler</option>
            <option value="Ramiro Roque">Ramiro Roque</option>
            <option value="Zachary Miller">Zachary Miller</option>
         </select>

         <label style="font-size: 50px" for="machine">Machine</label>
         <select style="font-size: 50px" id="machine" name="machine" style="font-size: 35px">
            <option value="">Select machine id...</option>
            <option value="F150">F150</option>
            <option value="F250">F250</option>
            <option value="F350">F350</option>
            <option value="F550">F550</option>
            <option value="Toyota Tacoma">Toyota Tacoma</option>
            <option value="Webco Foods Truck">Webco Foods Truck</option>
            <option value="Freightliner Sprinter">Freightliner Sprinter</option>

            <option value="John Deer 2155">John Deer 2155</option>
            <option value="John Deer 5100 M">John Deer 5100 M</option>
            <option value="John Deer Gator HPS185 E 4x4">Gator hps185e 4x4</option>
            <option value="Skid Steer 33 G">Skid Steer 33 G</option>
            <option value="Skid Steer Grapple">Skid Steer Grapple</option>

            <option value="2615 Bush Hog">2615 Bush Hog</option>
            <option value="Toro Zero Turn">Toro Zero Turn</option>
            <option value="Kubota Zero Turn Z241">Kubota Zero Turn Z241</option>
            <option value="Toro Zero Turn 24.5HP">Toro Zero Turn 24.5HP</option>
            <option value="Toro 325 D">Toro 325 D</option>
            <option value="Honda Push Mower">Honda Push Mower</option>
            <option value="Hay Mower (back side)">Hay Mower (back side)</option>
            <option value="4 Foot Bush Hog">4 Foot Bush Hog</option>

            <option value="STIHL 271">STIHL 271</option>
            <option value="STIHL 194 T">STIHL 194 T</option>
            <option value="STIHL BR550 ">STIHL BR550 </option>
            <option value="STIHL FS 94 R">STIHL FS 94 R</option>
            <option value="Craftsman Weed Eater">Craftsman Weed Eater</option>
            <option value="STIHL BR700">STIHL BR700</option>
            <option value="STIHL BR430 Blower (broken)">STIHL BR430 Blower (broken)</option>
            <option value="Echo 2620 T Weed Eater">Echo 2620 T Weed Eater</option>

            <option value="Adam Horse Trailer ">Adam Horse Trailer </option>
            <option value="Mainline Trailer">Mainline Trailer</option>
            <option value="Featherlite Cattle Trailer">Featherlite Cattle Trailer</option>
            <option value="Big Tex Trailer">Big Tex Trailer</option>
            <option value="Hawke Dump Trailer">Hawke Dump Trailer</option>

            <option value="Champion Generator">Champion Generator</option>
            <option value="Cummins Diesel Generator">Cummins diesel generator</option>
            <option value="GPI Diesel Pump">GPI Diesel Pump</option>
            <option value="Ingersoll Rand Air Compressor">Ingersoll Rand Air Compressor</option>
            <option value="Reddy Ice Machine">Reddy Ice Machine</option>
            <option value="Meat Freezer Left">Meat Freezer Left</option>
            <option value="Meat Freezer Right">Meat Freezer Right</option>

            <option value="5500 LBS Dolly">5500 LBS Dolly</option>
            <option value="Extreme Driver">Extreme Driver</option>
            <option value="Gehl Spreader">Gehl Spreader</option>
            <option value="Mill Creek Manure Spreader">Mill Creek Manure Spreader</option>
            <option value="Century Liquid Spreader">Century Liquid Spreader</option>
            <option value="Massey Ferguson Hay Spreader">Massey Ferguson Hay Spreader</option>
            <option value="Drum Mulcher">Drum Mulcher</option>
            <option value="John Deer 660 Rake">John Deer 660 Rake</option>
            <option value="Hay Rake (back side)">Hay Rake (back side)</option>

            <option value="Barn fan (right)">Barn fan (right)</option>
            <option value="Barn fan (left)">Barn fan (left)</option>
            <option value="Frontier RT 2308">Frontier RT 2308</option>
            
         </select>

         <label style="font-size: 50px" for="task">Maintenance Task</label>
         <select style="font-size: 50px" id="task" name="task">
            <option value="">Select maintenance task</option>
            <option value="Check Engine Oil">Check Engine Oil</option><br>
            <option value="Drain Water and Sediment from Fuel Filter">Drain Water and Sediment from Fuel Filter</option><br>
            <option value="Clean Radiator/Air Filter in Front of Tractor">Clean Radiator/Air Filter in Front of Tractor</option><br>
            <option value="Change Engine Oil and Filter">Change Engine Oil and Filter</option><br>
            <option value="Change Fuel Filter">Change Fuel Filter</option><br>
            <option value="Clean Cab Air Filters">Clean Cab Air Filters</option><br>
            <option value="Change MFWD Hub and Axle Housing Oil">Change MFWD Hub and Axle Housing Oil</option><br>
            <option value="Change Transmission-Hyrdaulic Filter">Change Transmission-Hyrdaulic Filter</option><br>
            <option value="Replace Engine Mounted and Frame Mounted Fuel Filters">Replace Engine Mounted and Frame Mounted Fuel Filters</option><br>
            <option value="Replace Air Inlet Foam Filter">Replace Air Inlet Foam Filter</option><br>
            <option value="Clean Diesel Particulate Filter">Clean Diesel Particulate Filter</option><br>
            <option value="Change Rear Axle Fluid">Change Rear Axle Fluid</option><br>
            <option value="Change Engine Coolant and Secondary Coolant">Change Engine Coolant and Secondary Coolant</option><br>
            <option value="Change Automatic Transmission Fluid and Filter">Change Automatic Transmission Fluid and Filter</option><br>
            <option value="Grease/Lubricate Areas">Grease/Lubricate Areas</option><br>
            <option value="Grease Bucket and Link Pins, Swing Post, etc">Grease Bucket and Link Pins, Swing Post, etc</option><br>
            <option value="Clea Air Cleaner Outer Element">Clea Air Cleaner Outer Element</option><br>
            <option value="Replace Fuel Main and Pre-Filter Elements">Replace Fuel Main and Pre-Filter Elements</option><br>
            <option value="Change Transmission Oil">Change Transmission Oil</option><br>
            <option value="Change Hyrdaulic Oil, Clean Suction Filter">Change Hyrdaulic Oil, Clean Suction Filter</option><br>
            <option value="Replace Full-Flow Filter Element">Replace Full-Flow Filter Element</option><br>
            <option value="Replace Pilot Oil Filter Element">Replace Pilot Oil Filter Element</option><br>
         </select>

         <label style="font-size: 50px" for="hours">Hours/Miles. If N/A, enter 0</label>
         <input style="font-size: 50px" type="text" id="hours" name="hours" placeholder="Enter hours/miles here...">

         <label style="font-size: 50px" for="notes">Notes</label>
         <input style="font-size: 50px" type="text" id="note" name="note" placeholder="Enter additional notes here...">

         <input style="font-size: 50px" type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>