<!DOCTYPE html>
<html lang = "en">
   <head></head>

   <style>

      table {
      
        font-family: arial, sans-serif;
      
        border-collapse: collapse;
      
        width: 100%;
      
      }
      
      
      td, th {
      
        border: 1px solid #dddddd;
      
        text-align: left;
      
        padding: 8px;
      
      }
      
      
      tr:nth-child(even) {
      
        background-color: #dddddd;
      
      }
      
      </style>
   <body>
      
      <h3> 
         <a style="font-size: 55px"> TimberCreek Farm Machine Manager</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3 style="font-size: 55px"><a href = "{{ url_for('new') }}">Add new maintenance task
         </a></h3>
      
      <table>
         <thead>
            <tr style="font-size: 30px">
               <th>Date</th>
               <th>Employee</th>
               <th>Machine</th>
               <th>Task</th>
               <th>Hours/Miles</th>
               <th>Note</th>
            </tr>
         </thead>
         
         <tbody>
            {% for machine in machines %}
               <tr style="font-size: 30px">
                  <td>{{ machine.date }}</td>
                  <td>{{ machine.employee }}</td>
                  <td>{{ machine.machine }}</td>
                  <td>{{ machine.task }}</td>
                  <td>{{ machine.hours }}</td>
                  <td>{{ machine.note }}</td>

               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>