<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a>TimberCreek Farm Machine Manager</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Tasks (<a href = "{{ url_for('new') }}">Add Maintenence Task
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Date</th>
               <th>Employee</th>
               <th>Machine</th>
               <th>Task</th>
               <th>Hours/Miles</th>
               <th>Note</th>
            </tr>
         </thead>
         
         <tbody>
            {% for machine in machines %}
               <tr>
                  <td>{{ machine.date }}</td>
                  <td>{{ machine.employee }}</td>
                  <td>{{ machine.machine }}</td>
                  <td>{{ machine.task }}</td>
                  <td>{{ machine.hours }}</td>
                  <td>{{ machine.note }}</td>

               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>