<!DOCTYPE html>
<html lang = "en">
   <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
          <title>Machine Manager</title>
          <style>
              .container{
                  height: 200px;
                  width: 1000;
                  border: 2px solid black;
                  margin-top: 30px;
                  margin-bottom: 50px;
                  padding: 10px 15px 10px;
                  border-radius: 20px;
                  display: block;
              }

              
              
          </style>
   </head>

   <style>

      table {
      
        font-family: arial, sans-serif;
      
        border-collapse: collapse;
      
        width: 100%;
      
      }
      
      
      td, th {
      
        border: 1px solid #dddddd;
      
        text-align: left;
      
        padding: 8px;
      
      }
      
      
      tr:nth-child(even) {
      
        background-color: #dddddd;
      
      }

      h3.app_name {
         margin: 35px;
      }

      h3.page_link {
         margin: 35px;
      }

      table.datatable {
         margin-bottom: 50px;
         
      }


      
      </style>
   <body>
      
      <h3 class = app_name style="font-size: 55px"> TimberCreek Farm Machine Manager</h3>

      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3 class = page_link style="font-size: 55px"><a href = "{{ url_for('new') }}">Add new maintenance task
         </a></h3>


      <form action = "{{ request.path }}" method = "POST">
         <label style="font-size: 50px" for="machine">Filter by machine</label>
         <select style="font-size: 50px" id="machine" name="machine" style="font-size: 35px">
            <option value="all">Show All</option>
            <option value="F150">F150</option>
            <option value="F250">F250</option>
            <option value="F350">F350</option>
            <option value="F550">F550</option>
            <option value="Toyota Tacoma">Toyota Tacoma</option>
            <option value="Webco Foods Truck">Webco Foods Truck</option>
            <option value="Freightliner Sprinter">Freightliner Sprinter</option>

            <option value="John Deer 2155">John Deer 2155</option>
            <option value="John Deer 5100 M">John Deer 5100 M</option>
            <option value="John Deer Gator HPS185 E 4x4">Gator hps185e 4x4</option>
            <option value="Skid Steer 33 G">Skid Steer 33 G</option>
            <option value="Skid Steer Grapple">Skid Steer Grapple</option>

            <option value="2615 Bush Hog">2615 Bush Hog</option>
            <option value="Toro Zero Turn">Toro Zero Turn</option>
            <option value="Kubota Zero Turn Z241">Kubota Zero Turn Z241</option>
            <option value="Toro Zero Turn 24.5HP">Toro Zero Turn 24.5HP</option>
            <option value="Toro 325 D">Toro 325 D</option>
            <option value="Honda Push Mower">Honda Push Mower</option>
            <option value="Hay Mower (back side)">Hay Mower (back side)</option>
            <option value="4 Foot Bush Hog">4 Foot Bush Hog</option>

            <option value="STIHL 271">STIHL 271</option>
            <option value="STIHL 194 T">STIHL 194 T</option>
            <option value="STIHL BR550 ">STIHL BR550 </option>
            <option value="STIHL FS 94 R">STIHL FS 94 R</option>
            <option value="Craftsman Weed Eater">Craftsman Weed Eater</option>
            <option value="STIHL BR700">STIHL BR700</option>
            <option value="STIHL BR430 Blower (broken)">STIHL BR430 Blower (broken)</option>
            <option value="Echo 2620 T Weed Eater">Echo 2620 T Weed Eater</option>

            <option value="Adam Horse Trailer ">Adam Horse Trailer </option>
            <option value="Mainline Trailer">Mainline Trailer</option>
            <option value="Featherlite Cattle Trailer">Featherlite Cattle Trailer</option>
            <option value="Big Tex Trailer">Big Tex Trailer</option>
            <option value="Hawke Dump Trailer">Hawke Dump Trailer</option>

            <option value="Champion Generator">Champion Generator</option>
            <option value="Cummins Diesel Generator">Cummins diesel generator</option>
            <option value="Cummins Diesel Generator">Cummins diesel generator</option>
            <option value="Cummins Diesel Generator">Cummins diesel generator</option>
            <option value="GPI Diesel Pump">GPI Diesel Pump</option>
            <option value="Ingersoll Rand Air Compressor">Ingersoll Rand Air Compressor</option>
            <option value="Reddy Ice Machine">Reddy Ice Machine</option>
            <option value="Meat Freezer Left">Meat Freezer Left</option>
            <option value="Meat Freezer Right">Meat Freezer Right</option>

            <option value="5500 LBS Dolly">5500 LBS Dolly</option>
            <option value="Extreme Driver">Extreme Driver</option>
            <option value="Gehl Spreader">Gehl Spreader</option>
            <option value="Mill Creek Manure Spreader">Mill Creek Manure Spreader</option>
            <option value="Century Liquid Spreader">Century Liquid Spreader</option>
            <option value="Massey Ferguson Hay Spreader">Massey Ferguson Hay Spreader</option>
            <option value="Drum Mulcher">Drum Mulcher</option>
            <option value="John Deer 660 Rake">John Deer 660 Rake</option>
            <option value="Hay Rake (back side)">Hay Rake (back side)</option>

            <option value="Barn fan (right)">Barn fan (right)</option>
            <option value="Barn fan (left)">Barn fan (left)</option>
            <option value="Frontier RT 2308">Frontier RT 2308</option>
            
         </select>
         <input style="font-size: 50px" type = "submit" value = "Submit" />
      </form>
         
      
      <table class="datatable">
         <thead>
            <tr style="font-size: 30px">
               <th>Date</th>
               <th>Employee</th>
               <th>Machine</th>
               <th>Task</th>
               <th>Hours/Miles</th>
               <th>Note</th>
            </tr>
         </thead>
         
         <tbody>
            {% for machine in machines %}
               <tr style="font-size: 30px">
                  <td>{{ machine.date }}</td>
                  <td>{{ machine.employee }}</td>
                  <td>{{ machine.machine }}</td>
                  <td>{{ machine.task }}</td>
                  <td>{{ machine.hours }}</td>
                  <td>{{ machine.note }}</td>

               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>